interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://public-api.herp.cloud/hire/v1/candidacies?page=1&limit=5
  response:
    body:
      string: "{\"candidacies\":[{\"id\":\"b47754fe-47f0-4cd0-bd43-542d5cf43de0\",\"name\":\"\u6D45\u4E95
        \u8061\",\"status\":\"active\",\"requisitionId\":\"366af623-4dc8-4008-b09c-240e7783d185\",\"appliedAt\":\"2026-01-27T12:10:25+09:00\",\"step\":\"entry\",\"stepUpdatedAt\":\"2026-01-27T12:10:25+09:00\",\"channel\":{\"type\":\"agent\",\"agent\":{\"id\":\"1e14f02f-53c6-4978-a2c4-dd80f6826a8f\",\"company\":\"\u30D1\u30FC\u30BD\u30EB\u30AD\u30E3\u30EA\u30A2\u682A\u5F0F\u4F1A\u793E\",\"name\":\"\u7D30\u5DDD
        \u4E03\u6D77\"}},\"operators\":[\"U-OD036\"],\"tags\":[],\"updatedAt\":\"2026-01-27T12:10:24+09:00\"},{\"id\":\"fea1bcab-a0ed-4ca3-ba63-5a46f9a54a93\",\"name\":\"\u5965\u6D25\u3000\u8A8C\u6717\",\"status\":\"active\",\"requisitionId\":\"d4e59f1b-29da-4c9e-a919-17d04a6380c2\",\"appliedAt\":\"2026-01-27T11:51:30+09:00\",\"step\":\"entry\",\"stepUpdatedAt\":\"2026-01-27T11:51:30+09:00\",\"email\":\"okutsu.shiro.0611@gmail.com\",\"telephoneNumber\":\"080-6516-9590\",\"age\":\"33\",\"channel\":{\"type\":\"agent\",\"agent\":{\"id\":\"12818a52-b361-4491-8ec6-f45c9bf4348c\",\"company\":\"RGF
        Professional recruitment Japan\",\"name\":\"\u3054\u62C5\u5F53\u8005\u69D8\"}},\"operators\":[],\"tags\":[],\"updatedAt\":\"2026-01-27T11:51:30+09:00\"},{\"id\":\"5d723dc7-d36e-47be-b943-e14fac7b0420\",\"name\":\"kuni\",\"status\":\"active\",\"requisitionId\":\"6b331632-ec96-4e19-9b55-c376e846298c\",\"appliedAt\":\"2026-01-26T15:58:21+09:00\",\"step\":\"resumeScreening\",\"stepUpdatedAt\":\"2026-01-26T19:36:29+09:00\",\"age\":\"31\",\"channel\":{\"type\":\"media\",\"mediaName\":\"Findy\",\"isScout\":false},\"note\":\"\uFF11\u6708\uFF12\uFF18\u65E5\uFF1A\u66F8\u985E\u9078\u8003\u30EA\u30DE\u30A4\u30F3\u30C9\\n\u3010\u30B9\u30C6\u30FC\u30BF\u30B9\u3011\\n\u30FB\u66F8\u985E\u9078\u8003\u4E2D
        1/26\",\"operators\":[],\"tags\":[],\"updatedAt\":\"2026-01-26T19:36:41+09:00\"},{\"id\":\"48979ff4-0890-4aea-bf0a-28da813e8840\",\"name\":\"VUTHILINH\",\"status\":\"terminated\",\"requisitionId\":\"f7dde244-d15a-4c4a-b75f-ee2325eaad1d\",\"appliedAt\":\"2026-01-26T15:25:28+09:00\",\"step\":\"entry\",\"stepUpdatedAt\":\"2026-01-26T15:25:28+09:00\",\"channel\":{\"type\":\"agent\",\"agent\":{\"id\":\"9f7db831-7b9c-461c-96e6-1a46fcb39e2e\",\"company\":\"\u682A\u5F0F\u4F1A\u793E\u30AE\u30FC\u30AF\u30EA\u30FC\",\"name\":\"\u5C0F\u6797\u3000\u7B11\u91CC\"}},\"note\":\"\uFF12\uFF16\uFF1A\u304A\u898B\u9001\u308A\uFF08\u8981\u4EF6\u672A\u9054\uFF09\",\"terminationReason\":\"rejected\",\"terminatedAt\":\"2026-01-26T15:26:00+09:00\",\"operators\":[\"U-OD036\",\"U-Z5193\"],\"tags\":[\"\U0001F300\u898B\u9001\u308A\u5BFE\u5FDC\U0001F300\"],\"updatedAt\":\"2026-01-26T15:29:39+09:00\"},{\"id\":\"dd527bfa-b195-4e75-a3d2-983493035d52\",\"name\":\"\u30C8\u30A5\u30EB\u30D2\u30FC\u30F3
        \u30DF\u30CF\u30A4\u30EB\",\"status\":\"terminated\",\"requisitionId\":\"135b4cb9-3efa-4667-9d9c-7d9e484b22e7\",\"appliedAt\":\"2026-01-26T14:56:22+09:00\",\"step\":\"entry\",\"stepUpdatedAt\":\"2026-01-26T14:56:22+09:00\",\"age\":\"49\",\"channel\":{\"type\":\"jobmiru\"},\"education\":\"\u65E9\u7A32\u7530\u5927\u5B66\u5927\u5B66\u9662\u4EBA\u9593\u79D1\u5B66\u7814\u7A76\u79D1\u535A\u58EB\u8AB2\u7A0B\",\"career\":\"\u30C8\u30A5\u30EB\u30D2\u30FC\u30F3
        \u30DF\u30CF\u30A4\u30EB\u6C0F\u306F\u3001\u7D4C\u6E08\u5B66\u3068\u4EBA\u9593\u79D1\u5B66\u306E2\u3064\u306E\u535A\u58EB\u53F7\u3092\u6301\u3064\u6975\u3081\u3066\u77E5\u7684\u306A\u30D0\u30C3\u30AF\u30B0\u30E9\u30A6\u30F3\u30C9\u3092\u6301\u3061\u306A\u304C\u3089\u3001\u5B9F\u52D9\u306B\u304A\u3044\u3066\u3082\u5727\u5012\u7684\u306A\u6210\u679C\u3092\u51FA\u3057\u7D9A\u3051\u3066\u304D\u305F\u7A00\u6709\u306A\u4EBA\u6750\u3067\u3059\u3002\\r\\n\\[...]
