interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://public-api.herp.cloud/hire/v1/candidacies?page=1&limit=5
  response:
    body:
      string: '{"candidacies": [{"id": "b47754fe-47f0-4cd0-bd43-542d5cf43de0", "name":
        "Candidate_873", "status": "active", "requisitionId": "366af623-4dc8-4008-b09c-240e7783d185",
        "appliedAt": "2026-01-27T12:10:25+09:00", "step": "entry", "stepUpdatedAt":
        "2026-01-27T12:10:25+09:00", "channel": {"type": "agent", "agent": {"id":
        "1e14f02f-53c6-4978-a2c4-dd80f6826a8f", "company": "Company_9200", "name":
        "Candidate_2104"}}, "operators": ["U-OD036"], "tags": [], "updatedAt": "2026-01-27T12:10:24+09:00"},
        {"id": "fea1bcab-a0ed-4ca3-ba63-5a46f9a54a93", "name": "Candidate_708", "status":
        "active", "requisitionId": "d4e59f1b-29da-4c9e-a919-17d04a6380c2", "appliedAt":
        "2026-01-27T11:51:30+09:00", "step": "entry", "stepUpdatedAt": "2026-01-27T11:51:30+09:00",
        "email": "candidate9570@example.com", "telephoneNumber": "080-5968-1776",
        "age": "33", "channel": {"type": "agent", "agent": {"id": "12818a52-b361-4491-8ec6-f45c9bf4348c",
        "company": "Company_6271", "name": "Candidate_5063"}}, "operators": [], "tags":
        [], "updatedAt": "2026-01-27T11:51:30+09:00"}, {"id": "5d723dc7-d36e-47be-b943-e14fac7b0420",
        "name": "Candidate_8281", "status": "active", "requisitionId": "6b331632-ec96-4e19-9b55-c376e846298c",
        "appliedAt": "2026-01-26T15:58:21+09:00", "step": "resumeScreening", "stepUpdatedAt":
        "2026-01-26T19:36:29+09:00", "age": "31", "channel": {"type": "media", "mediaName":
        "Findy", "isScout": false}, "note": "１月２８日：書類選考リマインド\n【ステータス】\n・書類選考中 1/26",
        "operators": [], "tags": [], "updatedAt": "2026-01-26T19:36:41+09:00"}, {"id":
        "48979ff4-0890-4aea-bf0a-28da813e8840", "name": "Candidate_9953", "status":
        "terminated", "requisitionId": "f7dde244-d15a-4c4a-b75f-ee2325eaad1d", "appliedAt":
        "2026-01-26T15:25:28+09:00", "step": "entry", "stepUpdatedAt": "2026-01-26T15:25:28+09:00",
        "channel": {"type": "agent", "agent": {"id": "9f7db831-7b9c-461c-96e6-1a46fcb39e2e",
        "company": "Company_9963", "name": "Candidate_6315"}}, "note": "２６：お見送り（要件未達）",
        "terminationReason": "rejected", "terminatedAt": "2026-01-26T15:26:00+09:00",
        "operators": ["U-OD036", "U-Z5193"], "tags": ["🌀見送り対応🌀"], "updatedAt": "2026-01-26T15:29:39+09:00"},
        {"id": "dd527bfa-b195-4e75-a3d2-983493035d52", "name": "Candidate_8212", "status":
        "terminated", "requisitionId": "135b4cb9-3efa-4667-9d9c-7d9e484b22e7", "appliedAt":
        "2026-01-26T14:56:22+09:00", "step": "entry", "stepUpdatedAt": "2026-01-26T14:56:22+09:00",
        "age": "49", "channel": {"type": "jobmiru"}, "education": "早稲田大学大学院人間科学研究科博士課程",
        "career": "トゥルヒーン ミハイル氏は、経済学と人間科学の2つの博士号を持つ極めて知的なバックグラウンドを持ちながら、実務においても圧倒的な成果を出し続けてきた稀有な人材です。\r\n\r\n推薦ポイント：\r\n\r\n①「リユース」ビジネスへの理解と実績：
        \r\n前職のYKKでは、国内ファスナーのリユース市場をゼロから開拓し、市場規模予測や課題抽出を行っています 。\r\n\r\n②圧倒的な営業数字の達成力：
        \r\n直近のDSK商事では、海外営業責任者としてわずか数ヶ月で売上を約8,000万円から7億円へと急成長させた実績があります 。目標達成意欲が極めて高く、貴社のグローバル流通網拡大においてもご活躍いただけます。\r\n\r\n③データに基づいた戦略的アプローチ：
        \r\n重回帰分析やSPSS Modelerを用いた需要予測など、高度な統計スキルを実務に落とし込むことができます 。単なる「営業」に留まらず、為替や世界情勢を読み解く「インテリジェンス」を重視する貴社のチームカラーに、博士号保持者としての知見がマッチします。\r\n\r\[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://public-api.herp.cloud/hire/v1/candidacies/b47754fe-47f0-4cd0-bd43-542d5cf43de0/contacts
  response:
    body:
      string: '{"contacts": []}'
    headers:
      Content-Type:
      - application/json
      x-puffin-request-rate:
      - '0.422'
      x-puffin-usage-count:
      - '9'
      x-puffin-usage-duration:
      - '700753083'
      x-puffin-usage-resets-at:
      - 2026-01-27 05:16:03 UTC
      x-remaining-request:
      - '91'
      x-reset-at:
      - '2026-01-27T14:16:03+09:00'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://public-api.herp.cloud/hire/v1/candidacies/5d723dc7-d36e-47be-b943-e14fac7b0420/contacts
  response:
    body:
      string: '{"contacts": [{"id": "3a6548f0-5124-4cf0-96d7-a3741c0d688a", "step":
        "resumeScreening", "type": "書類", "createdAt": "2026-01-26T19:37:02+09:00",
        "createdBy": "U-6VP33", "evaluations": [{"id": "6674e9b3-88ef-4dbc-85fe-b7473f8adb18",
        "status": "unfilled", "requesterId": "U-6VP33", "evaluatorId": "U-ZPN23"},
        {"id": "c9de8727-7554-46c2-aa85-bb310c4c7058", "status": "completed", "requesterId":
        "U-6VP33", "evaluatorId": "U-409DN"}], "requireAssessmentSchedule": false}]}'
    headers:
      Content-Type:
      - application/json
      x-puffin-request-rate:
      - '0.450'
      x-puffin-usage-count:
      - '11'
      x-puffin-usage-duration:
      - '760041366'
      x-puffin-usage-resets-at:
      - 2026-01-27 05:16:03 UTC
      x-remaining-request:
      - '89'
      x-reset-at:
      - '2026-01-27T14:16:03+09:00'
    status:
      code: 200
      message: OK
version: 1
